.sidebar .inditem p{
    margin: 0 !important;
    font-size: 16px;
}
.right img{
    display:inline-block;
}
.left img{
    display:inline-block;
}
.menu{
    margin-left: 10px;
    margin-right: 25px;
}
.logo{
    width: 147px;
    margin-right: 53px;
}
.searchIcon{
    width: 22px;
    margin-right: 5px;
}
form{
    display: inline;
}
.notif{
    display:inline-block;
}
.profile{
    display:inline-block;
    margin-left:36px;
}
.name{
    display:inline-block;
    margin-right:5px;
    margin-left:5px;
}
.arrow{
    display:inline-block;
    margin-right: 10px;
}
.sidebar{
    width:50px;
    flex-flow: column nowrap;
    margin-top: 22.97px;
    margin-left: 32px;
}
.inditem{
    flex-flow: row nowrap;
    display:inline-block;
    align-items: center;
    margin-top:32px;
   padding:10 60 12 17.5;
}

.inditem img{
    display: inline;
}
.inditem p{
    display: inline;
}
.sidebaritems{
    width:20px;
    /* display:inline-block; */
    margin-right:12.7px;
}
.mainbody{
    margin-top: 19px;
}